{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "no-debugger": "error",
    "no-invalid-regexp": "error",
    "no-extra-boolean-cast": "warn",
    "no-unreachable": "error",
    "eqeqeq": "error",
    "no-global-assign": "error",
    "no-redeclare": "error",
    "no-delete-var": "warn",
    "no-shadow-restricted-names": "warn"
  }
}
