{
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["website/**"],
      "options": {
        "bracketSpacing": true
      }
    },
    {
      "files": "*.{md,mdx}",
      "options": {
        "semi": false,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    }
  ]
}
