code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

code,
code * {
  font-family: 'SF Mono', 'Source Code Pro', Menlo, monospace !important;

  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

article {
  width: 100%;
  overflow-x: auto;
}

#__next {
  font-family: TGCFont, sans-serif;
}

/* Legacy Note */

.legacy-note {
  width: 100%;
  padding: 15px 25px;
  color: #d1d1e5;
  text-align: center;
  position: sticky;
  background: linear-gradient(-45deg, #5f6184, #a7a8d7, #5f6184, #a7a8d7);
  background-size: 400% 200%;
  animation: gradient 15s ease infinite;
}

.legacy-note > .important {
  font-weight: bold;
  color: #fff;
}

.legacy-note > a {
  color: #d1d1e5;
}

.legacy-note > a:hover {
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
