/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

a {
  color: #c200c2;
}

a:hover {
  text-decoration: underline;
}

/* Legacy Note */

body.legacy-note #legacy-note {
  display: block;
}

#legacy-note {
  display: none;
  width: 100%;
  padding: 30px 25px;
  background-color: #e535ab;
  color: #ffdcf3;
  text-align: center;

  position: fixed;
  bottom: 0;
  z-index: 999;

  background: linear-gradient(-45deg, #e535ab, #EA7CC5, #e535ab, #EA7CC5);
  background-size: 400% 200%;
	animation: gradient 15s ease infinite;
}

#legacy-note .important {
  font-weight: bold;
  color: #fff;
}

#legacy-note a {
  color: #ffdcf3;
}

#legacy-note a:hover {
  color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Legacy Note */

/* code-block-buttons */
pre {
  position: relative;
}

pre .btnIcon {
  position: absolute;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  color: #fff;
  background-color: transparent;
  height: 30px;
  transition: all 0.25s ease-out;
}

pre .btnIcon:hover {
  text-decoration: none;
}

.btnIcon__body {
  align-items: center;
  display: flex;
}

.btnIcon svg {
  fill: currentColor;
  margin-right: 0.4em;
}

.btnIcon__label {
  font-size: 11px;
}

.btnClipboard {
  right: 10px;
}

/* code-block-buttons */
