name: CI
on: [pull_request, push]
jobs:
  test:
    name: Node ${{ matrix.node_version }} - ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node_version: [10, 12, 13]
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node_version }}
      
      - uses: actions/cache@v1
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
      
      - name: Install
        run: yarn
        if: steps.yarn-cache.outputs.cache-hit != 'true'
      
      - name: Test
        run: yarn test
      
      - name: Lint
        run: yarn lint
      
      - name: Build
        run: yarn build
